[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imeiminer = {editable = true, path = "."}
pymongo = "*"
requests = "*"

[dev-packages]
tox = "*"
sphinx = "*"

[requires]
python_version = "3.9"
